[Desktop Entry]
Type=Application
Name=Assemble Boxkit
Exec=/usr/bin/just --unstable lazuli-assemble
OnlyShowIn=GNOME;
X-GNOME-Autostart-enabled=true
NoDisplay=true
